/* body {
  background-color: #EEB7AC;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

.genreLabel {
  z-index: 10;
  position: relative;
  top: 15px;
  font-size: 18px;
  left: 30px;
  opacity: 0.4;
  text-transform: lowercase;
  margin: 0 0 -20px 0;
  height: 30px;
}

section {
  // background-color: #F0F0F0;
  background-color: rgba(255, 255, 255, .6);
  width: 98%;
  margin: 20px;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  border-radius: 8px;
  will-change: transform;

  & div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  & h2 {
    margin-bottom: 0px;
    font-family: sans-serif;
  }
}
