.App {
  & header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
  }

  & .main-display {
    min-height: 40vh;
    justify-content: center;
    align-items: center;
  }

  & h1 {
    font-size: 50px
  }

  & nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    & .nav {
      margin: 10px;
    }
  }
}



