.SearchForm {

  & form {
    display: flex;
    flex-direction: row;
    margin: 10px 0px 0px 15px;
  }
      & input{
        width: 200px;
        margin: 0;
      }

      & input[type="image"]{
        width: 30px;
        margin: 0px 0px 0px 15px;
      }
      
      & button {
        margin: 0;
      }
  
  & img {
    width: 30px;
    height: 30px;
    margin: 0
  }
  
}