.App {
  // background: linear-gradient(0.25turn, #F29A93, #F7E1DA, #F29A93);
  // background: linear-gradient(0.25turn, #F7E1Da, #FFF, #F7E1DA);

  & header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
  }

  & .main-display {
    min-height: 40vh;
    justify-content: center;
    align-items: center;
  }

  & h1 {
    font-size: 50px;
    margin: 0px auto;
    color: #666888;

    & span {
      font-weight: bold;
    }

  }

  & nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 245px;
    margin: 10px 0px 0px 0px;

    & .nav {
      margin: 10px;
    }
  }
}



