.Book {
  width: 400px;
  min-width: 465px;
  max-height: 200px;
  margin: 25px 10px 25px 35px; 
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background: white;
  border-radius: 8px;
  box-shadow: 1px 1px 5px 5px lightgray;

  & div.img img{
  min-height: 140px;
  min-width: 140px;
  margin: 20px;
  border-radius: 8px;
  border: 1px solid black;
  }

  &.favorited {
    background-color: #F7E1DA;
  }

  & .bookInfo {
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 60%;
    margin: 25px 0px 0px auto;
  }

  & h2 {
    margin: 25px 0px 0px 0px;
  }

  & h3 {
    margin: 25px 0px 0px 0px;
    font-style: italic;
    color: #666888;
  }

  & h4 {
    margin-top: 10px;
  }


  & button {
    border: none;
    background-color: transparent;
    color: #666888;
    position: relative;
    margin: 0px 2px 0px 0px;
    top: 115px;
    height: 30px;
    width: 75px;

    & img {
      height: 45px;
      width: 45px;
      margin: 0px 0px 5px 0px;
    }
  }

  & button:hover {
    cursor: pointer;
  }

}














